@media (min-width: 768px) {
  .contain {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  #scope {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #primary {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #timeline {
    grid-column: 3/4;
    grid-row: 1/4;
  }
}
